<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">
        <img src="/img/imgjade.gif" style="width: 50px;border-radius: 40px;" title="Guia Perguntas">
    </a>
</nav>